page-respiration {
    ion-content {
        background: 
        linear-gradient(0deg, rgba(56, 93, 138, 0.8),  rgba(56, 93, 138, 0.2) 60%),
        linear-gradient(270deg, rgba(150,179,196,0.8), rgba(150,179,196,0.3) 80%),
        linear-gradient(120deg, rgba(150,224,235,0.9), rgba(150,224,235,0) 80%);
    }

    .back-button-icon-md, .back-button-icon-ios {
        color: white;
      }

    .card{
        border-radius: 30px; 
    }

    .cardSteps{
        border-radius: 30px; 
        height: 550px;
    }

    .swiper-slide{
        overflow-y: scroll;
        display: block;
        }
        
    ion-slides{
        height: auto;
        }

    div.swiper-pagination {
            top:540px;
            bottom:inherit;
        }

    #Title{
        padding: 0px;
        font-size: 2em;
        text-align: center; 
        font-family: "BebasRegular";
        color: rgba(56, 93, 138, 1);
        white-space: pre-wrap;
        padding-left: 10px; 
        padding-right: 10px; 
        padding-top: 10px; 
    }
   
    #SubTitle{
        padding: 0px;
        font-size: 1.5em;
        text-align: center;
        font-family: "BebasLight";
        color: rgba(56, 93, 138, 1);
        white-space: pre-wrap;
    }

    #Text{
        //height: 150px;
        //margin: auto;  
        text-align: justify;
        //font-size: 1em;
        font-family: "OpenSansRegular";
        line-height: 1.6;
        //color: rgba(56, 93, 138, 0.8);
        color: rgb(114, 114, 114);
        //display: flex;
        //align-items: center;
        white-space: pre-wrap;
        padding-left: 10px; 
        padding-right: 10px; 
        padding-bottom: 20px; 
    }

    .swiper-pagination-bullet-active{
        background: rgb(56, 93, 138);
        opacity: 1;
      }

    #Image{
        width: 100%;
    }
    
}

